# Python cache and bytecode
**/__pycache__/
*.py[cod]

# Logs
dlogs/
logs/
*.log
README_AWS.md

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test/coverage
.pytest_cache/
.coverage
.cache

# Model artifacts
models/*.joblib

# IDE/editor
.vscode/
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db 
.dump

# SSL certificates and keys
ssl/
*.crt
*.key
*.pem